# =========================================
# ENVIRONMENT
# =========================================

ENVIRONMENT=
DEVELOPMENT=

# =========================================
# APP
# =========================================

APP_NAME=
APP_ID=
APP_GRACEFUL_SHUTDOWN_TIMEOUT=

# =========================================
# SERVER
# =========================================

SERVER_SWAGGER_HOST=
SERVER_ADDRESS=

SERVER_READ_TIMEOUT=
SERVER_WRITE_TIMEOUT=

# =========================================
# JWT
# =========================================

JWT_SECRET=
JWT_SECRET_ADMIN=
JWT_EXPIRES_IN=

# =========================================
# CIRCUIT BREAKER
# =========================================

CIRCUIT_BREAKER_TIMEOUT=
CIRCUIT_BREAKER_SLEEP_WINDOW=

CIRCUIT_BREAKER_MAX_CONCURRENT_REQUESTS=
CIRCUIT_BREAKER_REQUEST_VOLUME_THRESHOLD=
CIRCUIT_BREAKER_ERROR_PERCENT_THRESHOLD=

# =========================================
# POSTGRES
# =========================================

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# =========================================
# REDIS
# =========================================

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=

# =========================================
# WORKER
# =========================================

WORKER_CONCURRENCY=
WORKER_POLL_INTERVAL=

# =========================================
# FOOTBALL API
# =========================================

FOOTBALL_API_BASE_URL=
FOOTBALL_API_KEY=